@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    transition: .3s ease;
}

/* --> Barra de Navegação <-- */

header {
    width: 100%;
    height: 50px;
    background: #000000a2;
    position: fixed;
    border-bottom:1px solid #ffffff;
    backdrop-filter: blur(18px);
}

ul {
    width: 100%;
    
}

nav ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    position: fixed;
    height: 3rem;
    font-family: 'Bebas Neue', cursive;
}

.link-nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: grid;
    font-size: 20px;
}

li {
    transition: transform 560ms;
    filter: drop-shadow(3px 5px 3px #000000);
}

li:hover {
    transform: scale(1.3);
    font-weight: bold;
}

.link-nav:hover {
    color: #aad7e9;
}

/* --> Fim da Barra de Navegação <-- */

/* --> Home <-- */

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./img/nubelson-fernandes-iE71-TMrrkE-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#h1-title {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-top: 10%;
    background: linear-gradient(1.0turn, #ffffff, #3e3e3e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #aeadae;
    fill: transparent;
    stroke-width: 5px;
    animation: arrows 2s infinite;
    -webkit-animation: arrows 2s infinite;
}

@keyframes arrows
{
0% {opacity:0;}
40% {opacity:1;}
80% {opacity:0;}
100% {opacity:0;}
}

@-webkit-keyframes arrows
{
0% {opacity:0;}
40% {opacity:1;}
80% {opacity:0;}
100% {opacity:0;}
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

/* --> Fim da Home <-- */

/* --> Sobre <-- */

.content-container1 {
    height: 100vh;
    background-color: #ffffff;
    border-top: 5px solid #2e1f11;
}

.profile-container {
    color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(63.13deg, #2e1f11 51.04%, #7b512a 51.05%)
}

.profile-content {
    width: 50%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: linear-gradient(#523b20, #ffffff, #ffffff);
    border-radius: 8px;
    border: 2px solid #7b512a;
    margin-bottom: 20px;
}

.profile-image {
    width: 180px;
    margin-top: 15px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #7b512a;
}

.name-text {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.redes-content {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    border: none;
}

.redes-logo {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    transition: transform 150ms;
}

.redes-logo:hover {
    transform: scale(1.10);
}

.divider {
    width: 100%;
    border-top: .9px solid #7b512a;
    margin: 15px 0;
}

.icons-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    justify-content: center;
}

.icon-item {
    width: 60px;
    padding: 5px;
    margin-left: 20px;
    height: auto;
    transition: transform 600ms;
}

.icon-item:hover {
    transform: scale(1.10);
}

.profile-sinopse {
    width: 430px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 19px;
    text-align:justify;
}

.content-download {
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    background-color: #2e1f11;
    transition: tranform 400ms;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    color: #7b512a;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-weight: bold;
}

.content-download:hover {
    background-color: #2e1f11b1;
    transform: scale(1.08);
    box-shadow: 0px 10px 5px #00000079;
}

#h1-title-sobre {
    font-size: 40px;
    margin: -10px 0 10px 50px;
}

.sinopse {
    margin-top: 25px;
}

/* --> Fim do Sobre <-- */

/* --> Projetos <-- */

#projects {
    height: 150vh;
    width: 100%;
    background: linear-gradient(108.5deg, #2e1f11 51.04%, #7b512a 51.05%);
    border-top: 5px solid #2e1f11;
}

.project-container {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecbe3e57;
}

.project-myProjects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecbe3e57;
}

.project-myProjects {
    font-size: 65px;
    margin-top: 70px;
    font-weight: bolder;
    color: #c5c9ca;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(1.0turn, #888585, #f5f4f4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2.5rem;
}

.project-card {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #00688B;
    border: 4px solid #000000;
    border-radius: 20px;
    box-shadow: 15px 10px 5px 5px #00000097;
}

.project-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    color: #050505;
    font-family: 'Sigmar', cursive;
    background: linear-gradient(1.0turn, #fbfbfb, #a3a1a1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-img {
    width: 95%;
    height: 140px;
    margin: 6px;
    border-radius: 15px;
    border: 2px solid #000000;
}

.project-text {
    width: 95%;
    text-align: center;
    padding: 0 8px 8px 8px;
    font-size: 13px;
    font-weight: 900;
    text-align: justify;
    display: flex;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

.cards {
    transition: transform 1.5s;
}

.cards:hover {
    transform: scale(1.2);
    box-shadow: 12px 10px 6px #000000;
}

/* --> Fim dos Projetos <-- */

/* --> aaa <-- */

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(63.5deg, #2e1f11 51.04%, #7b512a 51.05%);
    border-top: 5px solid #2e1f11;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 550px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#66431ab9, #44260c91);
    backdrop-filter: blur(10px);
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 10%;
    border: 2px solid #746959;
    color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    margin-top: 55px;
}

.form-text {
    color: #f5f5f5;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-left: 30%;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #746959;
    font-family: 'Oswald', sans-serif;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    max-height: 200px;
    min-height: 200px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    border: 3px solid #746959;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-left: 35%;
    margin-top: 15px;
    border: 2px solid #746959;
    background-color: #422c19;
    color: #fcfcfc;
    font-family: 'Oswald', sans-serif;
    transition: transform 300ms;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: #422c19;
    color: #ffffff;
    box-shadow: 0px 10px 5px #00000079;}

.form-redes {
    width: 400px;
    height: 80%;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.form-content-redes {
    width: 80%;
    height: 100%;
}

.form-text-redes {
    color: #f5f5f5;
    font-size: 52px;
    font-weight: bolder;
    margin: 0px 0 30px 20px;
    font-family: 'Oswald', sans-serif;

}

.form-button-redes {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.form-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #422c19;
    border-radius: 100px;
    background-color: #66431a;
    text-decoration: none;
    color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: transform 400ms;
}

.form-button:hover {
    transform: scale(1.1);
    color: #422c19;
    box-shadow: 0px 10px 5px #00000079;
}

@media (max-width: 800px) {

    /* --> Barra de navegação <-- */

    header {
        display: none;
    }

    /* --> Home <-- */

    #h1-title {
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
    }

    .arrows {
        width: 90px;
        height: 900px;
        margin: auto;
        margin-top: 190px;
        justify-content: center;
        align-items: center;

    }

    /* --> Sobre <-- */

    .content-container1 {
        height: 200%;
        width: auto;
        background-color: #333;
    }

    .profile-container {
        color: #333;
        height: auto;
        display: block;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .profile-content {
        width: 95%;
        height: 90vh;
        padding: 6px;
    }

    .profile-card {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 92%;
        border-radius: 8px;
    }

    .profile-image {
        width: 150px;
        height: auto;
    }

    #h1-title-sobre {
        margin: 5%;
    }

    .profile-text {
        font-family: 'Oswald', sans-serif;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        width: 80%;
        height: 100px;
        text-align: center;
    }

    .button-content {
        display: block;
        margin-top: 10px;
    }

    .content-download {
        width: 150px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 40px;
        margin-left: 30%;
    }

    .download {
        margin: 0;
        justify-content: center;
    }

    a {
        text-decoration: none;
    }

    .profile-button {
        display: block;
        margin-top: 10px;
    }

    .icons-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }

    .icon-item {
        width: 50%;
        height: auto;
        margin: center;
        justify-content: center;
        align-items: center;
    }

    .profile-sinopse {
        width: 90%;
        font-family: 'Oswald', sans-serif;
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        text-align:justify;
        margin-top: 1px;
        margin-left: 5%;
    }

    /* --> Projects <-- */

    #projects {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .project-container {
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .project-myProjects-content {
        padding-bottom: 40px;
        display: flex;
    }

    .project-myProjects {
        font-size: 40px;
        text-align: center;
    }

    .project-content {
        display: flex;
        flex-direction: column;
    }

    .project-card {
        margin-bottom: 40px;
        width: 350px;
        height: 450px;
    }

    .project-text {
        font-size: 18.1px;
    }

    .cards, .cards:hover {
        transition: none;
        transform: none;
        box-shadow: 11px 20px 3px #000000d0;
    }

    /* --> Fim dos Projetos <-- */

    /* --> Form <-- */
    
    .form-container {
        height: 150vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .form-content {
        height: 70vh;
        justify-content: center;
        align-items: center;
        display: block;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 57%;
        margin: 3%;
        height: auto;
        margin-top: 40px;
    }

    .form-text {
        font-size: 30px;
        margin-left: 60px;
    }

    label {
        font-size: 20px;
        font-weight: 100;
    }

    textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 300px;
        max-height: 100px;
        min-height: 100px;
    }

    button {
        width: 30%;
        height: 10%;
        border-radius: 20px;
        margin-left: 35%;
        margin-top: 10px;
        border: none;
        background-color: #422c19;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
    }

    .form-redes {
        width: 400px;
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .form-text-redes {
        width: 100%;
    }

    .form-content-redes {
        width: 80%;
    }

    .form-button {
        height: 80px;
        font-size: 25px;
    }
}